[{{ user_name }}]
user = {{ user_name }}
group = {{ user_name }}
listen = /var/run/php{{ php_version }}-fpm.{{ user_name }}.sock
listen.owner = {{ user_name }}
listen.group = {{ user_name }}
;php_admin_value[disable_functions] = exec,passthru,shell_exec,system
;php_admin_flag[allow_url_fopen] = off
pm = {{ php_fpm_mode }}
pm.max_requests = {{ php_fpm_max_requests }}
pm.max_children = {{ php_fpm_max_children }}
{% if php_fpm_mode == 'dynamic' %}
pm.start_servers = {{ php_fpm_start_servers }}
pm.min_spare_servers = {{ php_fpm_min_spare_servers }}
pm.max_spare_servers = {{ php_fpm_max_spare_servers }}
{% endif %}
{% if php_fpm_mode == 'ondemand' %}
pm.process_idle_timeout = {{ php_fpm_process_idle_timeout }}
{% endif %}
chdir = /

; Add local binaries available on server, plus NVM bin folder.
; NVM path is a symlink, which is slightly easier to edit when NVM gets updated.
env[PATH] = /usr/local/bin:/usr/bin:/bin:{{ project_home }}/bin/node

{% if php_fpm_manager_pool %}
[{{ user_name }}-modx]
user = {{ user_name }}
group = {{ user_name }}
listen = /var/run/php{{ php_version }}-fpm.{{ user_name }}-modx.sock
listen.owner = {{ user_name }}
listen.group = {{ user_name }}
pm = ondemand
pm.max_children = 5
pm.max_requests = 200
pm.process_idle_timeout = 20s
{% endif %}