{% if php_fpm_manager_pool %}
    # Use separate php-fpm socket for MODX
    location ~ ^/manager/(.*)$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/var/run/php{{ php_version }}-fpm.{{ user_name }}-modx.sock;
    }
{% endif %}

{% if php_version %}
    # Use separate php-fpm socket
    location ~ \.php(.*)$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/var/run/php{{ php_version }}-fpm.{{ user_name }}.sock;
    }
{% endif %}

{% if site_host.startswith('www.') %}
    # Redirect non-www traffic to www
    if ($host = "{{ site_host | replace('www.','') }}") {
        return 301 $scheme://{{ site_host }}$request_uri;
    }
{% else %}
    # Redirect www traffic to non-www
    if ($host = "www.{{ site_host }}") {
        return 301 $scheme://{{ site_host }}$request_uri;
    }
{% endif %}
