server {
{% if nginx_http2_standalone %}
    listen              443 ssl;
    listen              [::]:443 ssl;
    http2 on;
{% else %}
    listen              443 ssl http2;
    listen              [::]:443 ssl http2;
{% endif %}

    server_name {{ goatcounter_domain }};

{% include 'server/goatcounter.j2' %}

{% if ssl_issuer == 'Lets Encrypt' %}
    ssl_certificate /etc/letsencrypt/live/{{ site_host | replace('www.','') }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ site_host | replace('www.','') }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
{% endif %}

{% if ssl_issuer == 'Cloudflare' and ssl_strict %}
    ssl_certificate /etc/ssl/cloudflare/{{ project_name }}.pem;
    ssl_certificate_key /etc/ssl/cloudflare/{{ project_name }}.key;
{% endif %}

    access_log off;
}