    location / {
        proxy_pass http://127.0.0.1:{{ n8n_port }};
        proxy_set_header Connection '';
        proxy_http_version 1.1;
        chunked_transfer_encoding off;
        proxy_buffering off;
        proxy_cache off;
    }
