    client_max_body_size 50M;

    location / {
        proxy_pass http://127.0.0.1:{{ nocodb_port }};
        proxy_set_header Connection '';
        proxy_http_version 1.1;
        chunked_transfer_encoding off;
        proxy_buffering off;
        proxy_cache off;
    }
