{% if site_host.endswith('.loc') %}
{% else %}
# Catch non-existing wildcard domains, to avoid glitches
server {
    listen 80;
    server_name *.websitelikethis.com;
    return 404;
}
server {
    listen 443 ssl;
    server_name *.websitelikethis.com;
    return 404;
}
{% endif %}
