{{ ansible_managed | comment }}

{% include 'server/' + project_name + '.top.j2' ignore missing %}
{% if goatcounter_enabled and ssl_enabled %}
{% include 'server/goatcounter.stats.j2' %}
{% endif %}

server {
{% if ssl_enabled and nginx_http2_standalone %}
    listen              443 ssl;
    listen              [::]:443 ssl;
    http2 on;
{% elif ssl_enabled and nginx_http2_standalone == false %}
    listen              443 ssl http2;
    listen              [::]:443 ssl http2;
{% else %}
    listen              80;
    listen              [::]:80;
{% endif %}

    server_name {{ project_domains | join(' ') }};

{% if project_root %}
    root {{ project_root }};
{% endif %}
{% if project_index %}
    index {{ project_index }};
{% endif %}

    access_log          /var/log/nginx/{{ project_name }}.access.log;
    error_log           /var/log/nginx/{{ project_name }}.error.log;

{% if ssl_enabled and hsts_enabled %}
    add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;
{% endif %}

{% for item in nginx_server_includes %}
    include {{ item }};
{% endfor %}

{% include ['server/' + project_name + '.j2', 'server/default.j2'] %}

{% if ssl_enabled and ssl_issuer == 'Lets Encrypt' %}
    ssl_certificate /etc/letsencrypt/live/{{ site_host | replace('www.','') }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ site_host | replace('www.','') }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
{% endif %}

{% if ssl_enabled and ssl_strict and ssl_issuer == 'Cloudflare' %}
    # Use Cloudflare CA to encrypt traffic between Cloudflare and origin
    # Please note: you need to enable full encryption yourself on Cloudflare, and generate + copy the certs!
    ssl_certificate /etc/ssl/cloudflare/{{ project_name }}.pem;
    ssl_certificate_key /etc/ssl/cloudflare/{{ project_name }}.key;
{% endif %}

{% if ssl_enabled and ssl_issuer == 'mkcert' %}
    ssl_certificate {{ ssl_root }}/{{ ssl_name }}-fullchain.pem;
    ssl_certificate_key {{ ssl_root }}/{{ ssl_name }}.key;
{% endif %}
}

{% if ssl_enabled %}
server {
{% for item in project_domains %}
    if ($host = {{ item }}) {
        return 301 https://$host$request_uri;
    }
{% endfor %}

    server_name {{ project_domains | join(' ') }} {{ goatcounter_domain if goatcounter_enabled }};
    listen              80;
    listen              [::]:80;

    return 404;
}
{% endif %}