<modx>
    <database_type>mysql</database_type>
    <database_server>localhost</database_server>
    <database>{{ db_name }}</database>
    <database_user>{{ db_user }}</database_user>
    <database_password>{{ db_pass }}</database_password>
    <database_connection_charset>{{ db_charset }}</database_connection_charset>
    <database_charset>{{ db_charset }}</database_charset>
    <database_collation>{{ db_collation }}</database_collation>
    <table_prefix>modx_</table_prefix>
    <https_port>443</https_port>
    <http_host>{{ site_host }}</http_host>
    <cache_disabled>0</cache_disabled>
    <inplace>0</inplace>
    <unpacked>0</unpacked>

    <language>{{ modx_language|lower }}</language>
    <cmsadmin>{{ modx_user }}</cmsadmin>
    <cmspassword>{{ modx_pass }}</cmspassword>
    <cmsadminemail>{{ modx_email }}</cmsadminemail>

    <core_path>{{ project_root }}/core/</core_path>

    <context_mgr_path>{{ project_root }}/manager/</context_mgr_path>
    <context_mgr_url>/manager/</context_mgr_url>
    <context_connectors_path>{{ project_root }}/connectors/</context_connectors_path>
    <context_connectors_url>/connectors/</context_connectors_url>
    <context_web_path>{{ project_root }}/</context_web_path>
    <context_web_url>/</context_web_url>

    <remove_setup_directory>1</remove_setup_directory>
</modx>
